@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.group-hover\:animate-fadeIn:hover span {
  animation: fadeIn 0.3s ease-in-out forwards;
}

.font-pacifico {
  font-family: 'Pacifico', cursive;
}